<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>事業所・一般ユーザー</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <header>
        <button type="button" class="btn btn-link">Link</button>
    </header>
    <main>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">事業所</button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">一般ユーザー</button>

       <p>ですか？</p>
    </main>

</body>

</html>
